header {
  background: #2A2E3A;
  background: -moz-radial-gradient(center, ellipse cover,  #3d4556 0%, #2a2e3a 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #3d4556 0%,#2a2e3a 100%);
  background: radial-gradient(ellipse at center,  #3d4556 0%,#2a2e3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4556', endColorstr='#2a2e3a',GradientType=1 );
  height: 50vh;
  position: relative;

  display: flex;
  justify-content: center;

  section {
    align-self: flex-end;
    z-index: 10;
    color: $white;

      h1 {
        font-size: 2em;
        margin-bottom: 0;
        line-height: 1.2em;
        text-shadow: 0 0 3px rgba(0, 0, 0, .4);
      }

      p {
        text-shadow: 0 0 10px rgba(0, 0, 0, .8);
      }
  }
}
