header {
  background: #2A2E3A;
  background: -moz-radial-gradient(center, ellipse cover,  #3d4556 0%, #2a2e3a 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #3d4556 0%,#2a2e3a 100%);
  background: radial-gradient(ellipse at center,  #3d4556 0%,#2a2e3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4556', endColorstr='#2a2e3a',GradientType=1 );
  display: inline-block;
  width: 100%;

  section {
    color: $white;
    margin-top: 8em;
    margin-bottom: 4em;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0;
    line-height: 1.2em;
  }
}
