table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.3;
}

td + td,
th + th {
  border-left: 1px solid;
}

tr + tr {
  border-top: 1px solid;
}

td, th {
  text-align: left;
  padding: .25em .5em;
  vertical-align: top;
}

th {
  border-bottom: 1px solid;
  font-weight: 600;
}

@include tablet {

  table {
    margin-left: $margin-tablet;
    margin-right: $margin-tablet;
    width: inherit;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  td + td,
  th + th {
    border-left: none;
  }

  tr + tr {
    border-top: none !important;
  }

  tr {
    margin-bottom: 2em;
  }

  td {
    border-bottom: 1px solid;
    position: relative;
    padding-left: 33%;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      font-weight: 600;
    }

    &:before {
      position: absolute;
      top: .25em;
      left: 7px;
      width: 50%;
      white-space: nowrap;
      content: attr(data-label);
    }
  }

  .block > table {
    margin-left: 0;
    margin-right: 0;
  }
}
