.circle {
  margin-bottom: -1px;
  margin-right: 3px;
  margin-left: 2px;
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 2px solid;
  border-radius: 100%;

  &.afd {
    border-color: #129ee6;
  }

  &.cducsu {
    border-color: #121212;
  }

  &.fdp {
    border-color: #ffdd00;
  }

  &.spd {
    border-color: #d71f1d;
  }

  &.gruene {
    border-color: #0a8000;
  }

  &.linke {
    border-color: #be3075;
  }
}

&.afd {
  color: #129ee6;
}

&.cducsu {
  color: #121212;
}

&.fdp {
  color: #ffdd00;
}

&.spd {
  color: #d71f1d;
}

&.gruene {
  color: #0a8000;
}

&.linke {
  color: #be3075;
}

&.afd-underline {
  box-shadow: inset 0 -2px 0 #129ee6;
}

&.cducsu-underline {
  box-shadow: inset 0 -2px 0 #121212;
}

&.fdp-underline {
  box-shadow: inset 0 -2px 0 #ffdd00;
}

&.spd-underline {
  box-shadow: inset 0 -2px 0 #d71f1d;
}

&.gruene-underline {
  box-shadow: inset 0 -2px 0 #0a8000;
}

&.linke-underline {
  box-shadow: inset 0 -2px 0 #be3075;
}
