strong {
  &.afd {
    color: #129ee6;
  }

  &.cducsu {
    color: #121212;
  }

  &.fdp {
    color: #ffdd00;
  }

  &.spd {
    color: #d71f1d;
  }

  &.gruene {
    color: #0a8000;
  }

  &.linke {
    color: #be3075;
  }
}
